@mixin btn {
    background: linear-gradient(90deg, #3d7bff 0%, #739aed 53.85%, #3d7bff 100%);
    color: $color-white;
    border-radius: $border-radius;
    font-size: 18px;
    font-weight: 400;
    line-height: 119%;
    letter-spacing: -0.01em;
    text-align: center;
    padding: 23px;

    display: flex;
    align-items: center;
    justify-content: center;
}

@mixin input {
    border-radius: 8px;
    background: #eee;
    width: 100%;
    padding: 21px 17px;
}

@mixin title-card {
    font-family: $font-family;
    font-weight: $font-weight-medium;
    line-height: 126%;
    letter-spacing: -0.01em;
    color: #2d2d2d;
}