._input {
    @include input;
}

._btn {
    @include btn;
}

// layout
.df {
    display: flex;
}

.df-ai {
    align-items: center;
}

.df-jc {
    justify-content: center;
}

.df-jb {
    justify-content: space-between;
}
.df-je {
    justify-content: flex-end;
}

.df-fc {
    flex-direction: column;
}

._social-link {
    display: flex;
    align-items: center;
    gap: 5px;
}

._dark-buttons {
    gap: 17px;

    button {
        border-radius: 8px;
        background: rgba(0, 0, 0, 0.47);
        padding: 13px 19px;

        font-family: $font-family;
        font-weight: $font-weight-medium;
        font-size: 16px;
        line-height: 126%;
        letter-spacing: -0.01em;
        color: $color-white;
    }
}

.header-home {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    ._dark-buttons {
        margin-right: 100px;
    }
    @media (max-width: 1300px) {
        ._dark-buttons {
            margin-right: 0;
        }
    }
}