._input {
    @include input;
}

._btn {
    @include btn;
}

// layout
.df {
    display: flex;
}

.df-ai {
    align-items: center;
}

.df-as {
    align-items: start;
}

.df-jc {
    justify-content: center;
}

.df-jb {
    justify-content: space-between;
}

.df-je {
    justify-content: flex-end;
}

.df-fc {
    flex-direction: column;
}

._social-link {
    display: flex;
    align-items: center;
    gap: 5px;
}

._dark-buttons {
    gap: 17px;

    button {
        border-radius: 8px;
        background: rgba(0, 0, 0, 0.47);
        padding: 13px 19px;

        font-family: $font-family;
        font-weight: $font-weight-medium;
        font-size: 16px;
        line-height: 126%;
        letter-spacing: -0.01em;
        color: $color-white;
    }
}

.header-home {
    position: absolute;
    z-index: 11;
    top: 0;
    left: 0;
    width: 100%;

    ._dark-buttons {
        margin-right: 100px;
    }

    @media (max-width: 1300px) {
        ._dark-buttons {
            margin-right: 0;
        }
    }
}

._section-padding {
    padding: 92px 0;
}

._section-text {
    font-weight: $font-weight-medium;
    font-size: 18px;
    line-height: 112%;
    letter-spacing: -0.01em;
    text-align: center;
    color: rgba(0, 0, 0, 0.63);

    span {
        color: #3d7bff;
    }
}

._section-title {
    font-family: $font-family;
    font-weight: $font-weight-regular;
    font-size: 38px;
    line-height: 100%;
    letter-spacing: -0.01em;
    color: #2d2d2d;

    span {
        color: #3d7bff;
    }
}

._section-subtitle {
    font-family: $font-family;
    font-weight: $font-weight-medium;
    font-size: 18px;
    line-height: 112%;
    letter-spacing: -0.01em;
    color: rgba(0, 0, 0, 0.63);
}

._input {
    @include input;
}

._textarea {
    @include input;
    height: 100px;
}

._cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;

    ._card {
        padding: 30px;
        padding-top: 44px;
        padding-right: 15px;
        background: #fff;
        min-width: 285px;
        height: 191px;
        border-radius: 8px;

        &-head {
            width: 100%;
            margin-bottom: 24px;

            font-family: $font-family;
            font-weight: $font-weight-medium;
            font-size: 24px;
            line-height: 100%;
            letter-spacing: -0.01em;
            color: #2d2d2d;

            span {
                display: block;
                margin-left: 19px;
                opacity: 0.1;
            }
        }
    }
}

._label {
    &-wrap {
        height: 100%;
        max-width: 439px;
        gap: 50px;

        button {
            max-width: 383px;
        }
    }

    &-right {
        width: 630px;
        background-image: url('../../images/preloader.webp');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }
}

.h-full {
    height: 100%;
}

.tac {
    text-align: center;
}

.court-consequences {
    .consequences__list {
        max-width: auto;
        justify-content: center;
    }
}