@import './constants/variables.scss';
@import './constants/mixins.scss';
@import './constants/null.scss';
@import './constants/technical.scss';

@import './layouts/header.scss';

@import './section/hero.scss';
@import './section/amnesty.scss';
@import './section/discharge.scss';
@import './section/trust.scss';

@import './components/form.scss';

@import './layouts/footer.scss';