<form action="#" class="form df df-fc df-as">
    <input type="text" class="_input" placeholder="Ваше имя">
    <input type="text" class="_input" placeholder="Телефон">
    <input type="text" class="_input" placeholder="Почта">
    <textarea class="_textarea" placeholder="Сообщение..."></textarea>
    <button type="submit" class="_btn">
        Записаться
        <svg width="10" height="10" viewBox="0 0 10 10" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M0.355469 0.353516L9.35547 9.35352M9.35547 9.35352V0.712211M9.35547 9.35352H0.355469"
                stroke="white" />
        </svg>
    </button>
</form>