<form action="" class="form">
    <h2 class="_section-title">
        Your greatest adventure <br>
        <div class="_section-title_wrap">
            begins with a simple
            <span>“hello!”</span>
        </div>
    </h2>
    <h4> Tell us your dream. Together, we’ll explore how to bring it to life.</h4>
    <div class="form__body">
        <div class="form__input"><input placeholder="Your name..." class="_input" type="text"></div>
        <div class="form__input"><input placeholder="Your email..." class="_input" type="text"></div>
        <div class="form__input"><input placeholder="Your phone..." class="_input" type="text"></div>
        <div class="form__input"><textarea placeholder="Your comment..." class="_input" name="" id=""></textarea></div>
    </div>
    <button class="_btn">Start Your Journey</button>
    <p>
        By sending this request, you agree to the processing of your personal data in accordance with our
        <a href="/policy.html">Privacy Policy</a>.
    </p>
</form>