<div class="modal" id="myModal">
    <div class="modal__body">
        <button class="modal__close" data-modal="close">
            <svg width="36" height="36" viewBox="0 0 36 36" fill="none" xmlns="http://www.w3.org/2000/svg">
                <rect width="36" height="36" rx="18" fill="#A01E66" />
                <rect x="10.9287" y="10.2218" width="21" height="1" transform="rotate(45 10.9287 10.2218)"
                    fill="white" />
                <rect x="25.7783" y="10.929" width="21" height="0.999999" transform="rotate(135 25.7783 10.929)"
                    fill="white" />
            </svg>
        </button>

        <!--=include components/form.html -->

        <!-- <div class="modal__status okSend">
            <h2><strong>Thank you for reaching out!</strong></h2>
            <p>
                TYour message is safely in our hands. <br> A member of the Noomi team will reach out to answer your questions and
                help map the next steps on your family-building journey. <br>
                <span></span>
                While you wait, feel free to explore more of Noomi—or simply take a breath and dream ahead. <br> We’re honored to
                walk this path with you.
            </p>
        </div> -->
    </div>
</div>