<section class="about _section-padding">
    <div class="about__container">
        <div class="row row__head">
            <h3 class="_signature">( 04 ) Trust & Benefits</h3>
        </div>

        <div class="about__wrapper">
            <h2 class="_section-title">Why <span>Noomi?</span></h2>
            <div class="about__content">
                <div class="about__content-body">
                    <div class="about__card first">
                        <h4>
                            30+ years of experience
                        </h4>
                        <p>
                            The Noomi team brings over 30 years of leadership in family building, rooted in ethics,
                            accessibility, and advocacy.
                        </p>
                    </div>
                    <div class="row">
                        <div class="about__card">
                            <h4>
                                Personalized approach
                            </h4>
                            <p>
                                Our process is tailored to your needs — combining expert planning, global insight, and
                                attentive care. Every detail is managed to ensure a smooth journey from dream to
                                delivery.
                            </p>
                        </div>
                        <div class="about__card">
                            <h4>
                                Emotional intelligence
                            </h4>
                            <p>
                                We understand the emotional weight of this journey. That’s why we not only guide, but
                                truly
                                support — with empathy, active listening, and a deep respect.
                            </p>
                        </div>
                        <div class="about__card">
                            <h4>
                                Rigorous partner vetting
                            </h4>
                            <p>
                                Every international partner is rigorously vetted through a process shaped by the highest
                                collective standards, giving intended parents a foundation of trust.
                            </p>
                        </div>
                        <div class="about__card">
                            <h4>Careful coordination</h4>
                            <p>We manage timelines, communication, and documentation with care and consistency —
                                coordinating every step across countries and time zones with professionalism and heart.
                            </p>
                        </div>
                    </div>
                </div>
                <img src="./images/section-about.webp" alt="">
            </div>
        </div>
    </div>
</section>