<section class="amnesty _section-padding">
    <div class="amnesty__container">
        <h2 class="_section-title">
            Списываем даже <span>безнадежные</span> долги
        </h2>

        <div class="_cards">
            <div class="_card">
                <div class="_card-head df df-jb">
                    <h3>Кредиты</h3>
                    <span>01</span>
                </div>
                <p>Даже с просрочкой<br>5+ лет</p>
            </div>

            <div class="_card">
                <div class="_card-head df df-jb">
                    <h3>Микрозаймы</h3>
                    <span>02</span>
                </div>
                <p>Включая онлайн-займы<br>под 1% в день</p>
            </div>

            <div class="_card">
                <div class="_card-head df df-jb">
                    <h3>Налоги и штрафы</h3>
                    <span>03</span>
                </div>
                <p>Если они уже<br>у приставов</p>
            </div>

            <div class="_card">
                <div class="_card-head df df-jb">
                    <h3>Долги ИП</h3>
                    <span>04</span>
                </div>
                <p>Без риска для<br>личного имущества</p>
            </div>
        </div>

        <button class="_btn">Могу ли я списать?</button>
    </div>
</section>