<section class="answered _section-padding">
    <div class="answered__container">
        <div class="row__col maxw-one">
            <h3 class="_signature">( 03 ) FAQ</h3>
            <img src="./images/answered.webp" alt="">
        </div>
        <div class="row__col maxw-two">
            <h2 class="_section-title">
                Your questions, <span>gently answered</span>
            </h2>
            <div class="answered__accordion">
                <div class="answered__accordion-item">
                    <div class="answered__accordion-head">
                        <span>01</span>
                        <div class="answered__accordion-body">
                            <h2>Can I have multiple surrogacy journeys happening at the same time?</h2>
                            <p>
                                Yes. This is entirely possible, and we’re equipped to coordinate simultaneous journeys
                                with
                                more than one surrogate for families looking to grow in this way.
                            </p>
                        </div>
                        <button>
                            <svg width="14" height="12" viewBox="0 0 14 12" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <path d="M13 1L7 11L1 0.999999" stroke="#A01E66" />
                            </svg>
                        </button>
                    </div>
                </div>
                <div class="answered__accordion-item">
                    <div class="answered__accordion-head">
                        <span>02</span>
                        <div class="answered__accordion-body">
                            <h2>Can I create embryos in one country and carry out the surrogacy in another?</h2>
                            <p>
                                Yes. We support internationally coordinated care, including embryo creation and shipping
                                across borders for surrogacy in a separate country.
                            </p>
                        </div>
                        <button>
                            <svg width="14" height="12" viewBox="0 0 14 12" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <path d="M13 1L7 11L1 0.999999" stroke="#A01E66" />
                            </svg>
                        </button>
                    </div>
                </div>
                <div class="answered__accordion-item">
                    <div class="answered__accordion-head">
                        <span>03</span>
                        <div class="answered__accordion-body">
                            <h2>Can I use both donor egg and donor sperm?</h2>
                            <p>
                                Yes — in our programs, egg donation must be known, and we help manage the legal,
                                medical, and emotional aspects of combining both donor sources.
                            </p>
                        </div>
                        <button>
                            <svg width="14" height="12" viewBox="0 0 14 12" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <path d="M13 1L7 11L1 0.999999" stroke="#A01E66" />
                            </svg>
                        </button>
                    </div>
                </div>
                <div class="answered__accordion-item">
                    <div class="answered__accordion-head">
                        <span>04</span>
                        <div class="answered__accordion-body">
                            <h2>Can I use a donor from one country and have the embryos shipped elsewhere?</h2>
                            <p>
                                Yes. We arrange the secure shipping of cryopreserved eggs, sperm, or embryos
                                internationally as part of your plan.
                            </p>
                        </div>
                        <button>
                            <svg width="14" height="12" viewBox="0 0 14 12" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <path d="M13 1L7 11L1 0.999999" stroke="#A01E66" />
                            </svg>
                        </button>
                    </div>
                </div>
                <div class="answered__accordion-item">
                    <div class="answered__accordion-head">
                        <span>05</span>
                        <div class="answered__accordion-body">
                            <h2>Can embryos be created locally and then shipped internationally for surrogacy?</h2>
                            <p>
                                Yes. We handle coordination across clinics and borders, ensuring all documentation and
                                logistics are in place.
                            </p>
                        </div>
                        <button>
                            <svg width="14" height="12" viewBox="0 0 14 12" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <path d="M13 1L7 11L1 0.999999" stroke="#A01E66" />
                            </svg>
                        </button>
                    </div>
                </div>
                <div class="answered__accordion-item">
                    <div class="answered__accordion-head">
                        <span>06</span>
                        <div class="answered__accordion-body">
                            <h2>What if I want to bring my baby home as quickly as possible?</h2>
                            <p>
                                Our strong international partnerships allow us to navigate documentation processes with
                                efficiency — giving you access to some of the fastest legal processing timelines
                                available and helping you bring baby home sooner.
                            </p>
                        </div>
                        <button>
                            <svg width="14" height="12" viewBox="0 0 14 12" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <path d="M13 1L7 11L1 0.999999" stroke="#A01E66" />
                            </svg>
                        </button>
                    </div>
                </div>
                <div class="answered__accordion-item">
                    <div class="answered__accordion-head">
                        <span>07</span>
                        <div class="answered__accordion-body">
                            <h2>Can this include travel to beautiful destinations?</h2>
                            <p>
                                Yes. Your family-building journey can also be a rich, life-enhancing experience in
                                stunning international settings — we coordinate everything for ease, comfort, and peace
                                of mind.
                            </p>
                        </div>
                        <button>
                            <svg width="14" height="12" viewBox="0 0 14 12" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <path d="M13 1L7 11L1 0.999999" stroke="#A01E66" />
                            </svg>
                        </button>
                    </div>
                </div>
                <div class="answered__accordion-item">
                    <div class="answered__accordion-head">
                        <span>08</span>
                        <div class="answered__accordion-body">
                            <h2>How long does the process take from start to finish?</h2>
                            <p>
                                Timelines vary by journey, but our broad network and streamlined program help most
                                families move forward without unnecessary delays.
                            </p>
                        </div>
                        <button>
                            <svg width="14" height="12" viewBox="0 0 14 12" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <path d="M13 1L7 11L1 0.999999" stroke="#A01E66" />
                            </svg>
                        </button>
                    </div>
                </div>
                <div class="answered__accordion-item">
                    <div class="answered__accordion-head">
                        <span>09</span>
                        <div class="answered__accordion-body">
                            <h2>What will this cost and what are the fees associated?</h2>
                            <p>
                                We offer three core programs designed to cover the full scope of a successful journey,
                                with a premier travel package and optional enhancements to elevate comfort, cultural
                                connection, and personal fulfillment. Pricing is customized based on your vision, and
                                even the boldest dreams are often more accessible than families expect.
                            </p>
                        </div>
                        <button>
                            <svg width="14" height="12" viewBox="0 0 14 12" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <path d="M13 1L7 11L1 0.999999" stroke="#A01E66" />
                            </svg>
                        </button>
                    </div>
                </div>
                <div class="answered__accordion-item">
                    <div class="answered__accordion-head">
                        <span>10</span>
                        <div class="answered__accordion-body">
                            <h2>What if I’m not sure where to start?</h2>
                            <p>
                                That’s what the blueprint is for — we begin with your dream, and design everything
                                around it.
                            </p>
                        </div>
                        <button>
                            <svg width="14" height="12" viewBox="0 0 14 12" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <path d="M13 1L7 11L1 0.999999" stroke="#A01E66" />
                            </svg>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>