<section class="beginning _section-padding">
    <div class="beginning__container">
        <div class="row row__head">
            <h3 class="_signature">( 01 ) Surrogacy</h3>
            <h2 class="_section-title">
                Your dream of a baby is <br class="db"> not only <br class="dn">
                <div class="_section-title_wrap">
                    <span>made possible</span>
                    — it becomes <br>
                    a beautifully orchestrated reality
                </div>
            </h2>
        </div>
        <div class="row row__margin">
            <div class="row__label"><img src="./images/img1.webp" alt=""><img src="./images/img2.webp" alt=""></div>
            <div class="row__info">
                <p>
                    Supported by premier fertility clinics, world-class labs, top legal experts, and trusted surrogacy
                    agencies in countries known for their high medical standards, ethical practices, and commitment to
                    family. <br> <br>
                    It’s not just what we do — it’s how we hold you through it. Every journey is thoughtfully managed,
                    and every client supported like family. With a focus on detail, precision, and compassion, we bring
                    clarity and ease to a path that can often feel overwhelming. From your first step to bringing your
                    baby home, we create an extraordinary experience that honors the significance of your path to
                    parenthood. <br> <br>
                    With Noomi, your dream of a baby becomes more than a reality - it becomes a story of love, legacy,
                    and life’s greatest adventure.
                </p>
            </div>
        </div>
        <div class="beginning__image">
            <img src="./images/beging_img.webp" alt="">
        </div>
    </div>
</section>