<section class="blueprint _section-padding">
    <div class="blueprint__container">
        <h3 class="_signature">( 01 ) Plan</h3>
        <div class="blueprint__wrapper row">
            <div class="blueprint__text">
                <h2 class="_section-title">
                    Your <span>baby’s blueprint</span>
                </h2>
                <p>
                    Whether you’re imagining holding your baby as soon as possible, building a family through both donor
                    egg and donor sperm, or growing your family through a sibling journey with two surrogates at once,
                    we’re here to help make it possible. <br> <br>
                    We design your baby’s blueprint - a fully personalized, internationally coordinated family-building
                    journey tailored to your vision, values, and timeline. From embryo creation to your baby’s first
                    moments, we handle the details so you can focus on the joy of building your family.
                </p>
            </div>
            <img src="./images/section-blueprint.webp" alt="">
        </div>
    </div>
</section>