<section class="calculator _section-padding">
    <div class="calculator__container">
        <h4 class="_section-title">Калькулятор экономии</h4>
        <h5 class="_section-subtitle">Сколько вы переплатите, если отложите банкротство на год?</h5>

        <div class="calculator__form">
            <div class="calculator__input-wrapper df df-ai">
                <input type="text" class="calculator__input" placeholder="Введите сумму..." />
                <button type="button" class="calculator__btn df df-ai">
                    Рассчитать
                    <svg width="9" height="9" viewBox="0 0 9 9" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M0.355469 0.353516L8.35547 8.35352M8.35547 8.35352V0.672356M8.35547 8.35352H0.355469"
                            stroke="#EEEEEE" />
                    </svg>
                </button>
            </div>
            <span class="calculator__hint">Расчет переплаты по процентам</span>
        </div>
    </div>
</section>