<section class="callback _section-padding">
    <div class="callback__container df df-jb">
        <div class="callback__left df df-fc df-jb">
            <h4 class="_section-title">
                Оставьте заявку — <br>
                перезвоним <span>через 15 минут</span>
            </h4>
            <div class="callback__wrap">
                <div class="callback__agreement">
                    <input type="checkbox" name="agreement" id="agreement" required>
                    <label for="agreement">
                        Я соглашаюсь на <a href="#" target="_blank">обработку персональных данных</a>
                        <span>*</span>
                    </label>
                </div>

                <!-- reCAPTCHA в левом блоке -->
                <div class="callback__recaptcha">
                    <p class="callback__recaptcha-label">Я не робот</p>
                    <div class="captcha-box">
                        <div class="g-recaptcha" id="callbackRecaptcha"
                            data-sitekey="6LdvDgYsAAAAAB6F6znOVZLfVhZUJcAQhkwGqNjA"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="callback__right">
            <!--=include components/form.html -->
        </div>
    </div>
</section>