<section class="case">
    <div class="case__container df df-jb h-full">
        <div class="_label-wrap df df-fc df-jc">
            <h4 class="_section-title">
                Списано <span>2 млрд ₽ <br>долгов</span>
            </h4>
            <h4 class="_section-title">
                Средний срок - <br>
                <span>8 месяцев</span>
            </h4>
            <h4 class="_section-title">
                <span>5 000+ </span> клиентов
            </h4>
            <button class="_btn">Начать процесс</button>
        </div>
        <div class="_label-right"></div>
    </div>
</section>