<section class="choice _section-padding">
    <div class="choice__container">

        <h2 class="_signature">( 03 ) Choice</h2>

        <h2 class="_section-title">
            Why <span>intended rarents</span> choose Noomi
        </h2>
        <p>
            We’re here to guide with care, to listen deeply, and to walk this journey with you — always with heart,
            always with respect.
        </p>

        <ul class="grid">
            <li>
                <div class="choice__item">
                    <span>01</span>
                    <h2>Experience that matters</h2>
                    <p>With over 30 years in family-building, we bring insight, perspective, and thoughtful structure to
                        every journey.</p>
                </div>
            </li>
            <li>
                <div class="">
                    <img src="./images/choice__image.webp" alt="">
                </div>
            </li>
            <li>
                <div class="choice__item">
                    <span>02</span>
                    <h2>Values that ground us</h2>
                    <p>We lead with transparency, integrity, and respect. We treat every intended parent with the care
                        we’d
                        want for our own family.</p>
                </div>
            </li>
            <li>
                <div class="choice__item">
                    <span>03</span>
                    <h2>Trusted global network</h2>
                    <p>We lead with integrity, openness, and respect. We treat every intended parent with the care we’d
                        want
                        for our own family.</p>
                </div>
            </li>
            <li>
                <div class="choice__item">
                    <span>04</span>
                    <h2>Ethical coordination at every step</h2>
                    <p>Our protocols reflect global standards in reproductive care, built to support safety, dignity,
                        and
                        informed decision-making throughout the process.</p>
                </div>
            </li>
            <li>
                <div class="choice__item">
                    <span>05</span>
                    <h2>A meaningful experience</h2>
                    <p>This is more than paperwork or procedures — it’s a chapter in your life. We aim to make it
                        soul-enriching, emotionally supported, and filled with care.</p>
                </div>
            </li>
            <li>
                <div class="choice__item">
                    <span>06</span>
                    <h2>Personal, ongoing support</h2>
                    <p>We walk alongside you, offering informed guidance and thoughtful planning aligned with your goals
                        and
                        what matters most to you.</p>
                </div>
            </li>
            <li>
                <div class="choice__item">
                    <span>07</span>
                    <h2>We’re honored to be chosen</h2>
                    <p>When you choose Noomi, you’re trusting us with one of the most important chapters of your life.
                        We
                        don’t take that lightly.</p>
                </div>
            </li>
        </ul>

    </div>
</section>