<section class="types _section-padding">
    <div class="types__container">
        <h2 class="_section-title">Какие долги <br> можно списать?</h2>
        <p class="_section-subtitle">Программа помогает если у Вас есть:</p>
        <ul class="types__list df">
            <li class="df df-jb">
                <p>Кредитные карты</p>
                <svg width="16" height="18" viewBox="0 0 16 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M1.19922 6.6709L7.19922 14.6709L14.1992 0.670898" stroke="#3D7BFF" stroke-width="3" />
                </svg>
            </li>
            <li class="df df-jb">
                <p>Потребительские кредиты</p>
                <svg width="16" height="18" viewBox="0 0 16 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M1.19922 6.6709L7.19922 14.6709L14.1992 0.670898" stroke="#3D7BFF" stroke-width="3" />
                </svg>
            </li>
            <li class="df df-jb">
                <p>Займы в МФО</p>
                <svg width="16" height="18" viewBox="0 0 16 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M1.19922 6.6709L7.19922 14.6709L14.1992 0.670898" stroke="#3D7BFF" stroke-width="3" />
                </svg>
            </li>
            <li class="df df-jb">
                <p>Ипотека, автокредит</p>
                <svg width="16" height="18" viewBox="0 0 16 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M1.19922 6.6709L7.19922 14.6709L14.1992 0.670898" stroke="#3D7BFF" stroke-width="3" />
                </svg>
            </li>
            <li class="df df-jb">
                <p>Долги перед третьими лицами</p>
                <svg width="16" height="18" viewBox="0 0 16 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M1.19922 6.6709L7.19922 14.6709L14.1992 0.670898" stroke="#3D7BFF" stroke-width="3" />
                </svg>
            </li>
            <li class="df df-jb">
                <p>Долги у коллекторов или приставов</p>
                <svg width="16" height="18" viewBox="0 0 16 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M1.19922 6.6709L7.19922 14.6709L14.1992 0.670898" stroke="#3D7BFF" stroke-width="3" />
                </svg>
            </li>
        </ul>
    </div>
</section>