<section class="court-consequences consequences _section-padding">
    <div class="consequences__container">
        <h4 class="_section-title tac">
            Последствия частичного списания долга
        </h4>
        <div class="consequences__list">
            <div class="consequences__item">
                <div class="consequences__head">
                    Ваши кредиты и долги <br> необходимо погасить в срок
                    <svg width="15" height="16" viewBox="0 0 15 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M1.05097 13.8367L13.0509 2.1633" stroke="#FF3D3D" stroke-width="3" />
                        <path d="M13.0506 13.8367L1.0507 2.1633" stroke="#FF3D3D" stroke-width="3" />
                    </svg>
                </div>
                <p>Вы должны совершать платежи по утверждённому плану реструктуризации. В противном случае процедура реструктуризации перейдёт в процедуру банкротства.</p>
            </div>
        </div>
    </div>
</section>