<section class="eligibility _section-padding">
    <div class="eligibility__container">
        <h3 class="_section-title tac">Кому подходит частичное списание кредитов?</h3>
        <div class="eligibility__list">
            <div class="eligibility__item">
                <div class="eligibility__head">
                    Любая сумма <br> долга
                    <svg width="16" height="18" viewBox="0 0 16 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M1.19922 6.6709L7.19922 14.6709L14.1992 0.670898" stroke="#3D7BFF" stroke-width="3" />
                    </svg>
                </div>
                <p>Не важно, сколько Вы и кому должны. Все Ваши кредиты и долги можно объединить в один платеж, изменить в порядок выплаты и выплатить в комфортном режиме по заранее составленному плану.</p>
            </div>
            <div class="eligibility__item">
                <div class="eligibility__head">
                    Залог или ипотека
                    <svg width="16" height="18" viewBox="0 0 16 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M1.19922 6.6709L7.19922 14.6709L14.1992 0.670898" stroke="#3D7BFF" stroke-width="3" />
                    </svg>
                </div>
                <p>Даже если у Вас есть залог, ипотека, автокредит, Ваши кредиты и долги могут быть проведены по программе. Ипотека и автокредит не войдут в программу.</p>
            </div>
            <div class="eligibility__item">
                <div class="eligibility__head">
                    Долги по бизнесу / перед <br> поставщиками или заказчиками
                    <svg width="16" height="18" viewBox="0 0 16 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M1.19922 6.6709L7.19922 14.6709L14.1992 0.670898" stroke="#3D7BFF" stroke-width="3" />
                    </svg>
                </div>
                <p>Если Вы ведёте бизнес, и у Вас возникли долги перед контрагентами, данные долги также можно включить в процедуру реструктуризации.</p>
            </div>
        </div>
    </div>
</section>