<section class="eligibility _section-padding">
    <div class="eligibility__container">
        <h3 class="_section-title tac">Кому подходит банкротство?</h3>
        <div class="eligibility__list">
            <div class="eligibility__item">
                <div class="eligibility__head">
                    Сумма долга <br> от 250 000 руб
                    <svg width="16" height="18" viewBox="0 0 16 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M1.19922 6.6709L7.19922 14.6709L14.1992 0.670898" stroke="#3D7BFF" stroke-width="3" />
                    </svg>
                </div>
                <p>Если у Вас есть кредиты и долги более 250 000 руб, и Вы хотите их списать, либо Вы предвидите, что Ваш долг вырастет до 450 000 руб или более. Вам экономически целесообразно пройти процедуру банкротства.</p>
            </div>
            <div class="eligibility__item">
                <div class="eligibility__head">
                    Нет залога, либо Вы готовы <br> продать залоговое имущество
                    <svg width="16" height="18" viewBox="0 0 16 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M1.19922 6.6709L7.19922 14.6709L14.1992 0.670898" stroke="#3D7BFF" stroke-width="3" />
                    </svg>
                </div>
                <p>Банкротство подходит, если у Вас нет залогового имущества (например автомобиля). Если Вы готовы продать залоговое имущество, то процедура банкротства возможна. Стоит помнить, что при банкротстве, если у вас в залоге находится единственное жилье, то оно не будет реализовано, ипотека сохраняется, процедура банкротства Вам подходит</p>
            </div>
            <div class="eligibility__item">
                <div class="eligibility__head">
                    Не проходили банкротство <br> за последние 5 лет
                    <svg width="16" height="18" viewBox="0 0 16 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M1.19922 6.6709L7.19922 14.6709L14.1992 0.670898" stroke="#3D7BFF" stroke-width="3" />
                    </svg>
                </div>
                <p>Если Вы не проходили процедуру банкротства за последние 5 лет, то Вы можете пройти процедуру банкротства физического лица сейчас.</p>
            </div>
        </div>
    </div>
</section>