<section class="court-consequences consequences _section-padding">
    <div class="consequences__container">
        <h4 class="_section-title tac">
            Последствия банкротства
        </h4>
        <div class="consequences__list">
            <div class="consequences__item">
                <div class="consequences__head">
                    Проведение банкротства <br> возможно 1 раз в 5 лет
                    <svg width="15" height="16" viewBox="0 0 15 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M1.05097 13.8367L13.0509 2.1633" stroke="#FF3D3D" stroke-width="3" />
                        <path d="M13.0506 13.8367L1.0507 2.1633" stroke="#FF3D3D" stroke-width="3" />
                    </svg>
                </div>
                <p>Если Вы пройдёте процедуру банкротства, следующую Вы сможете пройти только через 5 лет.</p>
            </div>
            <div class="consequences__item">
                <div class="consequences__head">
                    Нельзя занимать <br> управляющие должности
                    <svg width="15" height="16" viewBox="0 0 15 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M1.05097 13.8367L13.0509 2.1633" stroke="#FF3D3D" stroke-width="3" />
                        <path d="M13.0506 13.8367L1.0507 2.1633" stroke="#FF3D3D" stroke-width="3" />
                    </svg>
                </div>
                <p>
                    После банкротства нельзя занимать руководящую должность в государственных организациях, быть
                    генеральным директором ООО.
                </p>
            </div>
            <div class="consequences__item">
                <div class="consequences__head">
                    Выезд за границу может быть <br> ограничен на 4-5 месяцев
                    <svg width="15" height="16" viewBox="0 0 15 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M1.05097 13.8367L13.0509 2.1633" stroke="#FF3D3D" stroke-width="3" />
                        <path d="M13.0506 13.8367L1.0507 2.1633" stroke="#FF3D3D" stroke-width="3" />
                    </svg>
                </div>
                <p>
                    Во время проведения процедуры может быть наложен запрет на выезд за границу. Как правило это срок составляет 3-4 месяца
                </p>
            </div>
        </div>
    </div>
</section>