<section class="dreamed _section-padding">
    <div class="dreamed__container">
        <div class="row row__head">
            <h3 class="_signature">( 05 ) In Their Words</h3>
            <h2 class="_section-title">
                From the hearts of the<br>
                <div class="_section-title_wrap">
                    families who
                    <span>dreamed of baby</span>
                </div>
            </h2>
        </div>

        <div class="dreamed__wrapper row row__margin">
            <div class="dreamed__left">
                <img src="./images/dreamed__image.webp" alt="">
                <p>Genuine reflections from those we’ve been honored to support.</p>
            </div>
            <div class="dreamed__right">
                <div class="swiper">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <p>
                                "Wow - awesome - words cannot express how wonderful this experience has been. We really
                                couldn’t have asked for more helpful folks to help us with our miracle! We are seasoned
                                travelers - but even we were blown away with the professional hospitality that we
                                received from each and every member of your team. Each one did their job in an
                                incredible way - personable, courtesy, effective, unbelievable!"
                            </p>
                            <h3 class="row__margin">Tanya</h3>
                        </div>
                        <div class="swiper-slide">
                            <p>
                                "Wow - awesome - words cannot express how wonderful this experience has been. We really
                                couldn’t have asked for more helpful folks to help us with our miracle! We are seasoned
                                travelers - but even we were blown away with the professional hospitality that we
                                received from each and every member of your team. Each one did their job in an
                                incredible way - personable, courtesy, effective, unbelievable!"
                            </p>
                            <h3 class="row__margin">Tanya</h3>
                        </div>
                        <div class="swiper-slide">
                            <p>
                                "Wow - awesome - words cannot express how wonderful this experience has been. We really
                                couldn’t have asked for more helpful folks to help us with our miracle! We are seasoned
                                travelers - but even we were blown away with the professional hospitality that we
                                received from each and every member of your team. Each one did their job in an
                                incredible way - personable, courtesy, effective, unbelievable!"
                            </p>
                            <h3 class="row__margin">Tanya</h3>
                        </div>
                        <div class="swiper-slide">
                            <p>
                                "Wow - awesome - words cannot express how wonderful this experience has been. We really
                                couldn’t have asked for more helpful folks to help us with our miracle! We are seasoned
                                travelers - but even we were blown away with the professional hospitality that we
                                received from each and every member of your team. Each one did their job in an
                                incredible way - personable, courtesy, effective, unbelievable!"
                            </p>
                            <h3 class="row__margin">Tanya</h3>
                        </div>
                    </div>
                    <div class="swiper-scrollbar"></div>
                    <div class="swiper-controls">
                        <button class="swiper-button-prev-custom">
                            <svg width="17" height="16" viewBox="0 0 17 16" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <path d="M16 15L2 8L16 1" stroke="black" />
                            </svg>
                        </button>
                        <span class="swiper-counter"><span class="current">01</span>/<span
                                class="total">06</span></span>
                        <button class="swiper-button-next-custom">
                            <svg width="17" height="16" viewBox="0 0 17 16" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <path d="M1 1L15 8L1 15" stroke="black" />
                            </svg>
                        </button>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>