<section class="eligibility _section-padding">
    <div class="eligibility__container">
        <h3 class="_section-title tac">Кому подходит внесудебное банкротство?</h3>
        <div class="eligibility__list">
            <div class="eligibility__item">
                <div class="eligibility__head">
                    Сумма долга от 25 000 <br> до 1 000 000 рублей
                    <svg width="16" height="18" viewBox="0 0 16 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M1.19922 6.6709L7.19922 14.6709L14.1992 0.670898" stroke="#3D7BFF" stroke-width="3" />
                    </svg>
                </div>
                <p>Можно списать в упрощенном порядке через МФЦ от 25 000 до 1 000 000 рублей (в указанный размер не
                    включаются штрафы, пени, проценты за просрочку платежа и т. п.)</p>
            </div>
            <div class="eligibility__item">
                <div class="eligibility__head">
                    Ипотека
                    <svg width="16" height="18" viewBox="0 0 16 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M1.19922 6.6709L7.19922 14.6709L14.1992 0.670898" stroke="#3D7BFF" stroke-width="3" />
                    </svg>
                </div>
                <p>Даже если у Вас есть ипотека, Ваши кредиты и долги могут быть проверены по программе. Ипотека не
                    входит в программу, Вы продолжите ее оплачивать.</p>
            </div>
            <div class="eligibility__item">
                <div class="eligibility__head">
                    Основной доход меньше <br> прожиточного минимума
                    <svg width="16" height="18" viewBox="0 0 16 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M1.19922 6.6709L7.19922 14.6709L14.1992 0.670898" stroke="#3D7BFF" stroke-width="3" />
                    </svg>
                </div>
                <p>Исполнительное производство окончено в связи с отсутствием имущества, на которое можно обратить
                    взыскание.</p>
            </div>
            <div class="eligibility__item">
                <div class="eligibility__head">
                    Основной доход – <br> пенсия
                    <svg width="16" height="18" viewBox="0 0 16 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M1.19922 6.6709L7.19922 14.6709L14.1992 0.670898" stroke="#3D7BFF" stroke-width="3" />
                    </svg>
                </div>
                <p>Исполнительный документ выдан более 1 года назад, требования по исполнительному документу не
                    исполнены или исполнены частично, отсутствует имущество, на которое можно обратить взыскание.</p>
            </div>
            <div class="eligibility__item">
                <div class="eligibility__head">
                    Основной доход – <br> пособие на ребенка
                    <svg width="16" height="18" viewBox="0 0 16 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M1.19922 6.6709L7.19922 14.6709L14.1992 0.670898" stroke="#3D7BFF" stroke-width="3" />
                    </svg>
                </div>
                <p>Исполнительный документ выдан более 1 года назад, требования по исполнительному документу не
                    исполнены или исполнены частично, отсутствует имущество, на которое можно обратить взыскание.</p>
            </div>
            <div class="eligibility__item">
                <div class="eligibility__head">
                    Лица с неоконченным <br> исполнительным производством
                    <svg width="16" height="18" viewBox="0 0 16 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M1.19922 6.6709L7.19922 14.6709L14.1992 0.670898" stroke="#3D7BFF" stroke-width="3" />
                    </svg>
                </div>
                <p>Исполнительный документ выдан более 7 лет назад, требования по исполнительному документу не исполнены
                    или исполнены частично, отсутствует имущество, на которое можно обратить взыскание.</p>
            </div>
        </div>
    </div>
</section>