<section class="help _section-padding">
    <div class="help__container">
        <h1 class="_section-title">База <span>знаний</span></h1>
        <div class="_cards df df-fc df-ai">
            <div class="_cards-top df df-jb">
                <div class="_card">
                    <div class="knowledge__image">
                        <img src="" alt="">
                        <button>
                            <svg width="28" height="28" viewBox="0 0 28 28" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <circle cx="14" cy="14" r="14" fill="#3D7BFF" />
                                <path
                                    d="M14.1464 7.14645C14.3417 6.95118 14.6583 6.95118 14.8536 7.14645L18.0355 10.3284C18.2308 10.5237 18.2308 10.8403 18.0355 11.0355C17.8403 11.2308 17.5237 11.2308 17.3284 11.0355L14.5 8.20711L11.6716 11.0355C11.4763 11.2308 11.1597 11.2308 10.9645 11.0355C10.7692 10.8403 10.7692 10.5237 10.9645 10.3284L14.1464 7.14645ZM14.5 20.5H14V7.5H14.5H15V20.5H14.5Z"
                                    fill="#EEEEEE" />
                            </svg>
                        </button>
                    </div>
                    <p>
                        Как пенсионеру списать <br> долг по кредитам?
                    </p>
                    <a href=""></a>
                </div>

                <div class="_card">
                    <div class="knowledge__image">
                        <img src="" alt="">
                        <button>
                            <svg width="28" height="28" viewBox="0 0 28 28" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <circle cx="14" cy="14" r="14" fill="#3D7BFF" />
                                <path
                                    d="M14.1464 7.14645C14.3417 6.95118 14.6583 6.95118 14.8536 7.14645L18.0355 10.3284C18.2308 10.5237 18.2308 10.8403 18.0355 11.0355C17.8403 11.2308 17.5237 11.2308 17.3284 11.0355L14.5 8.20711L11.6716 11.0355C11.4763 11.2308 11.1597 11.2308 10.9645 11.0355C10.7692 10.8403 10.7692 10.5237 10.9645 10.3284L14.1464 7.14645ZM14.5 20.5H14V7.5H14.5H15V20.5H14.5Z"
                                    fill="#EEEEEE" />
                            </svg>
                        </button>
                    </div>
                    <p>
                        Реструктуризация долгов.
                    </p>
                    <a href=""></a>
                </div>

                <div class="_card">
                    <div class="knowledge__image">
                        <img src="" alt="">
                        <button>
                            <svg width="28" height="28" viewBox="0 0 28 28" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <circle cx="14" cy="14" r="14" fill="#3D7BFF" />
                                <path
                                    d="M14.1464 7.14645C14.3417 6.95118 14.6583 6.95118 14.8536 7.14645L18.0355 10.3284C18.2308 10.5237 18.2308 10.8403 18.0355 11.0355C17.8403 11.2308 17.5237 11.2308 17.3284 11.0355L14.5 8.20711L11.6716 11.0355C11.4763 11.2308 11.1597 11.2308 10.9645 11.0355C10.7692 10.8403 10.7692 10.5237 10.9645 10.3284L14.1464 7.14645ZM14.5 20.5H14V7.5H14.5H15V20.5H14.5Z"
                                    fill="#EEEEEE" />
                            </svg>
                        </button>
                    </div>
                    <p>
                        Процедура банкротства <br> физических лиц.
                    </p>
                    <a href=""></a>
                </div>

                <div class="_card">
                    <div class="knowledge__image">
                        <img src="" alt="">
                        <button>
                            <svg width="28" height="28" viewBox="0 0 28 28" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <circle cx="14" cy="14" r="14" fill="#3D7BFF" />
                                <path
                                    d="M14.1464 7.14645C14.3417 6.95118 14.6583 6.95118 14.8536 7.14645L18.0355 10.3284C18.2308 10.5237 18.2308 10.8403 18.0355 11.0355C17.8403 11.2308 17.5237 11.2308 17.3284 11.0355L14.5 8.20711L11.6716 11.0355C11.4763 11.2308 11.1597 11.2308 10.9645 11.0355C10.7692 10.8403 10.7692 10.5237 10.9645 10.3284L14.1464 7.14645ZM14.5 20.5H14V7.5H14.5H15V20.5H14.5Z"
                                    fill="#EEEEEE" />
                            </svg>
                        </button>
                    </div>
                    <p>
                        Список документов для <br> банкротства физических лиц.
                    </p>
                    <a href=""></a>
                </div>
            </div>

            <div class="_cards-bottom df df-jb">
                <div class="_card">
                    <div class="knowledge__image">
                        <img src="" alt="">
                        <button>
                            <svg width="28" height="28" viewBox="0 0 28 28" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <circle cx="14" cy="14" r="14" fill="#3D7BFF" />
                                <path
                                    d="M14.1464 7.14645C14.3417 6.95118 14.6583 6.95118 14.8536 7.14645L18.0355 10.3284C18.2308 10.5237 18.2308 10.8403 18.0355 11.0355C17.8403 11.2308 17.5237 11.2308 17.3284 11.0355L14.5 8.20711L11.6716 11.0355C11.4763 11.2308 11.1597 11.2308 10.9645 11.0355C10.7692 10.8403 10.7692 10.5237 10.9645 10.3284L14.1464 7.14645ZM14.5 20.5H14V7.5H14.5H15V20.5H14.5Z"
                                    fill="#EEEEEE" />
                            </svg>
                        </button>
                    </div>
                    <p>
                        Судебные приставы <br> и банкротство.
                    </p>
                    <a href=""></a>
                </div>

                <div class="_card">
                    <div class="knowledge__image">
                        <img src="" alt="">
                        <button>
                            <svg width="28" height="28" viewBox="0 0 28 28" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <circle cx="14" cy="14" r="14" fill="#3D7BFF" />
                                <path
                                    d="M14.1464 7.14645C14.3417 6.95118 14.6583 6.95118 14.8536 7.14645L18.0355 10.3284C18.2308 10.5237 18.2308 10.8403 18.0355 11.0355C17.8403 11.2308 17.5237 11.2308 17.3284 11.0355L14.5 8.20711L11.6716 11.0355C11.4763 11.2308 11.1597 11.2308 10.9645 11.0355C10.7692 10.8403 10.7692 10.5237 10.9645 10.3284L14.1464 7.14645ZM14.5 20.5H14V7.5H14.5H15V20.5H14.5Z"
                                    fill="#EEEEEE" />
                            </svg>
                        </button>
                    </div>
                    <p>
                        Кому подходит <br> банкротство?
                    </p>
                    <a href=""></a>
                </div>

                <div class="_card">
                    <div class="knowledge__image">
                        <img src="" alt="">
                        <button>
                            <svg width="28" height="28" viewBox="0 0 28 28" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <circle cx="14" cy="14" r="14" fill="#3D7BFF" />
                                <path
                                    d="M14.1464 7.14645C14.3417 6.95118 14.6583 6.95118 14.8536 7.14645L18.0355 10.3284C18.2308 10.5237 18.2308 10.8403 18.0355 11.0355C17.8403 11.2308 17.5237 11.2308 17.3284 11.0355L14.5 8.20711L11.6716 11.0355C11.4763 11.2308 11.1597 11.2308 10.9645 11.0355C10.7692 10.8403 10.7692 10.5237 10.9645 10.3284L14.1464 7.14645ZM14.5 20.5H14V7.5H14.5H15V20.5H14.5Z"
                                    fill="#EEEEEE" />
                            </svg>
                        </button>
                    </div>
                    <p>
                        Что такое дистанционное <br> банкротство и почему оно <br> так популярно?
                    </p>
                    <a href=""></a>
                </div>
            </div>
        </div>
    </div>
</section>