<div class="hero heroHome">
    <!--=include header.html -->
    <div class="hero__container">
        <div class="hero__content">
            <div class="hero__body">
                <h1 class="hero__title">Connecting dreams to destinations</h1>
                <p>Noomi is a professional team of domestic and international consultants guiding intended parents
                    through
                    the complex journey of family building via assisted reproductive technology, egg donation, and
                    surrogacy.</p>
                <div class="_outline-btn" data-modal="open" data-target="#myModal"><button>Start Your Journey</button></div>
            </div>
            <img class="hero__elipse" src="/images/elipse.webp" alt="">
        </div>
    </div>
    <img class="hero__image" src="/images/heroHome.webp" alt="">
</div>