<section class="hero">
    <div class="hero__container">
        <div class="hero__content">
            <div class="hero__body">
                <h1 class="hero__title">In their words</h1>
                <p>
                    A glimpse into the hearts of the families we’ve served.
                </p>
            </div>
            <img class="hero__elipse" src="/images/elipse.webp" alt="">
        </div>
    </div>
    <img class="hero__image" src="/images/testimonials__image.webp" alt="">
</section>