<section class="history _section-padding">
    <div class="history__container">
        <h3 class="_section-title">
            Другие истории наших клиентов.
        </h3>

        <div class="_cards">
            <div class="_cards-top">
                <div class="_card">
                    <div class="_card-head df df-jb">
                        <h3>Долг <br> на 1 000 000</h3>
                        <span>01</span>
                    </div>
                    <button>
                        Хочу также
                        <svg width="10" height="10" viewBox="0 0 10 10" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path
                                d="M0.355469 0.353516L9.35547 9.35352M9.35547 9.35352V0.712211M9.35547 9.35352H0.355469"
                                stroke="#EEEEEE" />
                        </svg>
                    </button>
                </div>

                <div class="_card">
                    <div class="_card-head df df-jb">
                        <h3>Долг <br> на 1 000 000</h3>
                        <span>01</span>
                    </div>
                    <button>
                        Хочу также
                        <svg width="10" height="10" viewBox="0 0 10 10" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path
                                d="M0.355469 0.353516L9.35547 9.35352M9.35547 9.35352V0.712211M9.35547 9.35352H0.355469"
                                stroke="#EEEEEE" />
                        </svg>
                    </button>
                </div>

                <div class="_card">
                    <div class="_card-head df df-jb">
                        <h3>Долг <br> на 1 000 000</h3>
                        <span>01</span>
                    </div>
                    <button>
                        Хочу также
                        <svg width="10" height="10" viewBox="0 0 10 10" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path
                                d="M0.355469 0.353516L9.35547 9.35352M9.35547 9.35352V0.712211M9.35547 9.35352H0.355469"
                                stroke="#EEEEEE" />
                        </svg>
                    </button>
                </div>

                <div class="_card">
                    <div class="_card-head df df-jb">
                        <h3>Долг <br> на 1 000 000</h3>
                        <span>01</span>
                    </div>
                    <button>
                        Хочу также
                        <svg width="10" height="10" viewBox="0 0 10 10" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path
                                d="M0.355469 0.353516L9.35547 9.35352M9.35547 9.35352V0.712211M9.35547 9.35352H0.355469"
                                stroke="#EEEEEE" />
                        </svg>
                    </button>
                </div>
            </div>

            <div class="_cards-bottom">
                <div class="_card">
                    <div class="_card-head df df-jb">
                        <h3>Долг <br> на 1 000 000</h3>
                        <span>01</span>
                    </div>
                    <button>
                        Хочу также
                        <svg width="10" height="10" viewBox="0 0 10 10" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path
                                d="M0.355469 0.353516L9.35547 9.35352M9.35547 9.35352V0.712211M9.35547 9.35352H0.355469"
                                stroke="#EEEEEE" />
                        </svg>
                    </button>
                </div>

                <div class="_card">
                    <div class="_card-head df df-jb">
                        <h3>Долг <br> на 1 000 000</h3>
                        <span>01</span>
                    </div>
                    <button>
                        Хочу также
                        <svg width="10" height="10" viewBox="0 0 10 10" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path
                                d="M0.355469 0.353516L9.35547 9.35352M9.35547 9.35352V0.712211M9.35547 9.35352H0.355469"
                                stroke="#EEEEEE" />
                        </svg>
                    </button>
                </div>

                <div class="_card">
                    <div class="_card-head df df-jb">
                        <h3>Долг <br> на 1 000 000</h3>
                        <span>01</span>
                    </div>
                    <button>
                        Хочу также
                        <svg width="10" height="10" viewBox="0 0 10 10" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path
                                d="M0.355469 0.353516L9.35547 9.35352M9.35547 9.35352V0.712211M9.35547 9.35352H0.355469"
                                stroke="#EEEEEE" />
                        </svg>
                    </button>
                </div>
            </div>
        </div>
    </div>
</section>