<section class="international _section-padding">
    <div class="international__container">
        <div class="row row__head">
            <h3 class="_signature">( 02 ) Program</h3>
            <h2 class="_section-title">
                International family building <br>
                <div class="_section-title_wrap">
                    offers <span>possibility with purpose</span>
                </div>
            </h2>
        </div>
        <div class="row row__margin international__wrapper">
            <img class="international__img" src="./images/international_img.webp" alt="">
            <div class="international__info">
                <div class="row international__info-text">
                    <p>
                        In countries protected by national laws and shaped by well-defined regulations, intended parents
                        may gain broader access to donors and surrogates, reduced costs, and the potential to hold their
                        baby sooner.
                    </p>
                    <p>
                        With greater flexibility and autonomy, families can shape an experience that truly reflects
                        their values and goals.
                    </p>
                </div>

                <div class="row">
                    <a href="#" class="international__more">
                        Learn more
                    </a>

                    <div class="international__image">
                        <img src="./images/international__image-two.webp" alt="">
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>