<section class="knowledge _section-padding">
    <div class="knowledge__container">
        <h3 class="_section-title">
            База знаний
        </h3>
        <h4 class="_section-subtitle">
            Мы создали понятную Базу Знаний, которая поможет Вам <br>
            списать кредиты и долги.
        </h4>

        <div class="swiper">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <div class="knowledge__image">
                        <img src="" alt="">
                    </div>
                    <p>
                        5 признаков, что вам <br> пора на банкротство
                    </p>
                    <a href=""></a>
                </div>
                <div class="swiper-slide">
                    <div class="knowledge__image">
                        <img src="" alt="">
                    </div>
                    <p>
                        Топ 3 ошибки <br> должника
                    </p>
                    <a href=""></a>
                </div>
                <div class="swiper-slide">
                    <div class="knowledge__image">
                        <img src="" alt="">
                    </div>
                    <p>
                        Шаблоны <br> заявлений
                    </p>
                    <a href=""></a>
                </div>
                <div class="swiper-slide">
                    <div class="knowledge__image">
                        <img src="" alt="">
                    </div>
                    <p>
                        Чек листы по <br> самостоятельному <br> банкротству
                    </p>
                    <a href=""></a>
                </div>
                <div class="swiper-slide">
                    <div class="knowledge__image">
                        <img src="" alt="">
                    </div>
                    <p>
                        Кому подходит <br> банкротство?
                    </p>
                    <a href=""></a>
                </div>
                                <div class="swiper-slide">
                    <div class="knowledge__image">
                        <img src="" alt="">
                    </div>
                    <p>
                        5 признаков, что вам <br> пора на банкротство
                    </p>
                    <a href=""></a>
                </div>
                <div class="swiper-slide">
                    <div class="knowledge__image">
                        <img src="" alt="">
                    </div>
                    <p>
                        Топ 3 ошибки <br> должника
                    </p>
                    <a href=""></a>
                </div>
                <div class="swiper-slide">
                    <div class="knowledge__image">
                        <img src="" alt="">
                    </div>
                    <p>
                        Шаблоны <br> заявлений
                    </p>
                    <a href=""></a>
                </div>
                <div class="swiper-slide">
                    <div class="knowledge__image">
                        <img src="" alt="">
                    </div>
                    <p>
                        Чек листы по <br> самостоятельному <br> банкротству
                    </p>
                    <a href=""></a>
                </div>
                <div class="swiper-slide">
                    <div class="knowledge__image">
                        <img src="" alt="">
                    </div>
                    <p>
                        Кому подходит <br> банкротство?
                    </p>
                    <a href=""></a>
                </div>
                                <div class="swiper-slide">
                    <div class="knowledge__image">
                        <img src="" alt="">
                    </div>
                    <p>
                        5 признаков, что вам <br> пора на банкротство
                    </p>
                    <a href=""></a>
                </div>
                <div class="swiper-slide">
                    <div class="knowledge__image">
                        <img src="" alt="">
                    </div>
                    <p>
                        Топ 3 ошибки <br> должника
                    </p>
                    <a href=""></a>
                </div>
                <div class="swiper-slide">
                    <div class="knowledge__image">
                        <img src="" alt="">
                    </div>
                    <p>
                        Шаблоны <br> заявлений
                    </p>
                    <a href=""></a>
                </div>
                <div class="swiper-slide">
                    <div class="knowledge__image">
                        <img src="" alt="">
                    </div>
                    <p>
                        Чек листы по <br> самостоятельному <br> банкротству
                    </p>
                    <a href=""></a>
                </div>
                <div class="swiper-slide">
                    <div class="knowledge__image">
                        <img src="" alt="">
                    </div>
                    <p>
                        Кому подходит <br> банкротство?
                    </p>
                    <a href=""></a>
                </div>
                                <div class="swiper-slide">
                    <div class="knowledge__image">
                        <img src="" alt="">
                    </div>
                    <p>
                        5 признаков, что вам <br> пора на банкротство
                    </p>
                    <a href=""></a>
                </div>
                <div class="swiper-slide">
                    <div class="knowledge__image">
                        <img src="" alt="">
                    </div>
                    <p>
                        Топ 3 ошибки <br> должника
                    </p>
                    <a href=""></a>
                </div>
                <div class="swiper-slide">
                    <div class="knowledge__image">
                        <img src="" alt="">
                    </div>
                    <p>
                        Шаблоны <br> заявлений
                    </p>
                    <a href=""></a>
                </div>
                <div class="swiper-slide">
                    <div class="knowledge__image">
                        <img src="" alt="">
                    </div>
                    <p>
                        Чек листы по <br> самостоятельному <br> банкротству
                    </p>
                    <a href=""></a>
                </div>
                <div class="swiper-slide">
                    <div class="knowledge__image">
                        <img src="" alt="">
                    </div>
                    <p>
                        Кому подходит <br> банкротство?
                    </p>
                    <a href=""></a>
                </div>
            </div>

            <div class="swiper-scrollbar"></div>
        </div>
    </div>
</section>