<section class="outofcourt-discharge discharge _section-padding">
    <div class="discharge__container">
        <h2 class="_section-title">
            Порядок <span>работы</span>
        </h2>

        <p class="_section-subtitle">
            Последовательность решения вашей проблемы:
        </p>

        <div class="discharge__timeline df df-jb">
            <div class="discharge__step active">
                Консультация
            </div>

            <div class="discharge__step-divider">|</div>

            <div class="discharge__step">
                Подготовка документов
            </div>

            <div class="discharge__step-divider">|</div>

            <div class="discharge__step">
                Подача в суд или МФЦ
            </div>

            <div class="discharge__step-divider">|</div>

            <div class="discharge__step active">
                Списание долгов
            </div>

            <div class="discharge__arround">
                <svg width="38" height="38" viewBox="0 0 38 38" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <circle opacity="0.4" cx="19" cy="19" r="19" fill="#3D7BFF" />
                    <circle cx="19" cy="19" r="7" fill="#3D7BFF" />
                </svg>
            </div>
        </div>
    </div>
</section>