<section class="payment _section-padding">
    <div class="payment__container df df-ai df-jb">

        <div class="payment__left">
            <h1 class="_section-title"><span>Онлайн</span> - оплата</h1>
            <h2 class="_section-subtitle">Для оплаты введите ваши данные и выберите <br> удобный для Вас способ оплаты
            </h2>
        </div>
        <form action="#" method="POST" class="payment__right df df-fc">
            <ul>
                <li><input type="radio" name="payment" id="payment-1"><label for="payment-1">Карта Visa</label></li>
                <li><input type="radio" name="payment" id="payment-2"><label for="payment-2">Карта MasterCard</label>
                </li>
                <li><input type="radio" name="payment" id="payment-3"><label for="payment-3">Карта МИР</label></li>
                <li><input type="radio" name="payment" id="payment-4"><label for="payment-4">Оплата по QR-коду</label>
                </li>
                <li><input type="radio" name="payment" id="payment-5"><label for="payment-5">Оплата по AlfaPay</label>
                </li>
            </ul>
            <input type="text" name="name" class="_input" placeholder="Ваше имя" required>
            <input type="tel" name="phone" class="_input" placeholder="Телефон" required>
            <input type="text" name="services" class="_input" placeholder="Наименование услуги" required>
            <input type="tel" name="amount" class="_input" placeholder="Сумма" required>
            <button type="submit" class="_btn">
                Оплатить
                <svg width="10" height="10" viewBox="0 0 10 10" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M0.355469 0.353516L9.35547 9.35352M9.35547 9.35352V0.712211M9.35547 9.35352H0.355469"
                        stroke="white" />
                </svg>
            </button>
        </form>

    </div>
</section>