<section class="process _section-padding">
    <div class="process__container">
        <div class="row row__head">
            <h3 class="_signature">( 03 ) Steps</h3>
            <h2 class="_section-title">
                How it
                <span>works</span>
            </h2>
        </div>
        <ul class="row row__margin">
            <li class="process__item">
                <div class="process__item-body">
                    <span>01</span>
                    <h2>Tell us your dream – we’ll map the way</h2>
                    <p>
                        Share your vision for building a family.
                    </p>
                </div>
            </li>
            <li class="process__item">
                <div class="process__item-body">
                    <span>02</span>
                    <h2>Personalized planning</h2>
                    <p>
                        Whether you need donor eggs, donor sperm, full surrogacy, or wish to create embryos near home
                        while
                        working with a surrogate abroad — we design a custom process around your needs.
                    </p>
                </div>
            </li>
            <li class="process__item">
                <div class="process__item-body">
                    <span>03</span>
                    <h2>Flexible paths</h2>
                    <p>
                        Some intended parents choose parallel journeys to grow their families faster; others prefer a
                        more
                        gradual pace.
                    </p>
                </div>
            </li>
            <li class="process__item">
                <div class="process__item-body">
                    <span>04</span>
                    <h2>Clear and simplified plan</h2>
                    <p>
                        Once your vision is clear, we provide a transparent roadmap that may include:
                        <ol>
                            <li>Embryo creation</li>
                            <li>Surrogacy matching</li>
                            <li>Legal guidance</li>
                            <li>Full care and coordination</li>
                        </ol>
                    </p>
                </div>
            </li>
        </ul>
    </div>
</section>