<section class="profile _section-padding">
    <div class="profile__container">
        <h1 class="_section-title">Карточка предприятия</h1>
        
        <div class="profile__content">
            <div class="profile__info df df-jb">
                <div class="profile__info-item">
                    <h3 class="_section-text"><span>Банковские</span> реквизиты:</h3>
                    <ul class="_section-text">
                        <li>Наименование банка:</li>
                        <li>ФИЛИАЛ "НОВОСИБИРСКИЙ" АО "АЛЬФА-БАНК"</li>
                        <li>Расчетный счет: 40702810723020004017</li>
                        <li>Корреспондентский счет: 30101810600000000774</li>
                        <li>ОТДЕЛЕНИЕ ПО СИБИРСКОЕ ГУ БАНКА РОССИИ</li>
                        <li>БИК: 045004774</li>
                    </ul>
                </div>

                <div class="profile__info-item">
                    <h3 class="_section-text"><span>Внесена запись о создании</span> юридического лица:</h3>
                    <ul class="_section-text">
                        <li>Регистрационная палата Администрации</li>
                        <li>г. Иркутска</li>
                        <li>23.01.1995 г.</li>
                    </ul>
                </div>

                <div class="profile__info-item">
                    <h3 class="_section-text">ООО "Юридическая компания <span>"ЕСТЬ РЕШЕНИЕ"</span></h3>
                    <ul class="_section-text">
                        <li>ИНН: 3811033845</li>
                        <li>КПП: 380801001</li>
                        <li>ОГРН: 1023801539838</li>
                        <li>Адрес фактический: 664007, г. Иркутск, ул. Поленова 1/1, офис 213</li>
                    </ul>
                </div>
            </div>

            <a href="/payment" class="profile__btn _btn">Перейти к оплате</a>
        </div>
    </div>
</section>