<section class="projects _section-padding">
    <div class="projects__container df">
        <div class="projects__left">
            <img src="" alt="">
            <p>
                "После болезни я не мог платить. Коллекторы достали всю семью. <br>
                Обратился сюда - и через 8 месяцев <br>
                я свободен!"
            </p>
        </div>
        <div class="projects__right">
            <h3 class="_section-title">
                Списано <br>
                <span>2,5 млн ₽ долгов</span>
            </h3>
            <h4>
                Вот как мы это сделали:
            </h4>
            <ul class="df df-fc">
                <li class="df"><strong>Клиент:</strong><span>Сергей, 45 лет.</span></li>
                <li class="df"><strong>Долг:</strong><span>1 200 000 ₽ (кредиты + микрозаймы).</span></li>
                <li class="df"><strong>Решение:</strong><span>Банкротство через суд.</span></li>
                <li class="df"><strong>Срок:</strong><span>8 месяцев.</span></li>
            </ul>
            <div class="projects__result">
                Итог:
                <span>
                    Долги списаны, <br>
                    квартира сохранена.
                </span>
            </div>
        </div>
    </div>
</section>