<section class="stages _section-padding">
    <div class="stages__container">
        <h5 class="_section-title">
            Этапы <span class="stages__title-accent">реструктуризации</span>
        </h5>
        <p class="_section-subtitle">Последовательность решения вашей проблемы:</p>
        <ul class="stages__list">
            <li class="stages__item">
                <div class="stages__item-header">
                    <h6 class="stages__item-title">Сбор <br> документов</h6>
                    <span class="stages__item-number">01</span>
                </div>
                <div class="stages__item-body">
                    <p class="stages__item-description">Срок: <br> 1-2 месяца</p>
                    <p class="stages__item-description">Первый шаг – это собрать документы, которые покажут Ваше сложное финансовое положение. На основе этих документов будет составлен план реструктуризации.</p>
                </div>
            </li>
            <li class="stages__item">
                <div class="stages__item-header">
                    <h6 class="stages__item-title">Согласование дела <br> с Арбитражным Управляющим</h6>
                    <span class="stages__item-number">02</span>
                </div>
                <div class="stages__item-body">
                    <p class="stages__item-description">Срок: <br> 2 недели</p>
                    <p class="stages__item-description">Второй шаг – согласовать дело с Арбитражным управляющим, чтобы гарантировать быстрое прохождение процедуры.</p>
                </div>
            </li>
            <li class="stages__item">
                <div class="stages__item-header">
                    <h6 class="stages__item-title">Подача <br> заявления</h6>
                    <span class="stages__item-number">03</span>
                </div>
                <div class="stages__item-body">
                    <p class="stages__item-description">Срок: <br> 2-3 недели</p>
                    <p class="stages__item-description">Третий шаг – подача заявления в Арбитражный суд, оплата гос. пошлины и депозита.</p>
                </div>
            </li>
            <li class="stages__item">
                <div class="stages__item-header">
                    <h6 class="stages__item-title">Проведение <br> процедуры</h6>
                    <span class="stages__item-number">04</span>
                </div>
                <div class="stages__item-body">
                    <p class="stages__item-description">Срок: <br> 1-2 месяца</p>
                    <p class="stages__item-description">Четвёртый – проведение процедуры в соответствии с оставленным планом реструктуризации.</p>
                </div>
            </li>
            <li class="stages__item">
                <div class="stages__item-header">
                    <h6 class="stages__item-title">Завершение <br> процедуры</h6>
                    <span class="stages__item-number">05</span>
                </div>
                <div class="stages__item-body">
                    <p class="stages__item-description">Срок: <br> 1 месяц</p>
                    <p class="stages__item-description">Пятый – завершение процедуры, утверждение плана, назначение срока внесения платежей.</p>
                </div>
            </li>
            <li class="stages__item">
                <div class="stages__item-header">
                    <h6 class="stages__item-title">Готово! Реструктуризация <br> проведена!</h6>
                    <span class="stages__item-number">06</span>
                </div>
                <div class="stages__item-body">
                    <p class="stages__item-description">Штрафы и пени списаны, Вы можете отплачивать кредиты и долги по новому графику платежей.</p>
                </div>
            </li>
        </ul>
    </div>
</section>