<section class="steps _section-padding">
    <div class="steps__container">
        
        <div class="row">
            <div class="row__col">
                <h3 class="_signature">( 02 ) Steps</h3>
                <div class="steps__image-one"><img src="./images/steps-1.webp" alt=""></div>
            </div>
            <div class="row__col steps__body">
                <h2 class="_section-title">
                    We guide every phase <span>of the process</span>
                </h2>
                <p>
                    Every journey is different. That’s why we don’t offer one-size-fits-all programs - we create the
                    plan around you:
                </p>
                <ul>
                    <li><span>01</span> <i></i>Defining your vision</li>
                    <li><span>02</span> <i></i>Coordinating legal and medical planning</li>
                    <li><span>03</span> <i></i>Supporting embryo creation and transfer</li>
                    <li><span>04</span> <i></i>Matching with the right surrogate</li>
                    <li><span>05</span> <i></i>Navigating pregnancy updates and delivery</li>
                    <li><span>06</span> <i></i>Helping you bring your baby home</li>
                </ul>
            </div>

            <div class="flex column mt-auto">
                <div class="steps__image-two"><img src="./images/steps-2.webp" alt=""></div>
            </div>
        </div>

    </div>
</section>