<section class="support _section-padding">
    <div class="support__container flex justify-content-sb">

        <div class="flex column justify-content-sb">
            <h2 class="_signature">( 01 ) Guidance</h2>
            <div class="support__image"><img src="./images/support__image-1.webp" alt=""></div>
        </div>

        <div class="flex column support__body">
            <h2 class="_section-title">
                Support that feels <span>like family</span>
            </h2>
            <p>
                Family-building through IVF or surrogacy can come with a lot of moving parts. At Noomi, we simplify
                what’s complex and bring clarity to what often feels uncertain — with thoughtful guidance, trusted
                insight, and a deep sense of personal connection. <br>
                We guide you through each phase with quiet confidence,
                experienced partners, and a profound respect for the path you’re on. As part of the Noomi family, you’ll
                be cared for with the same attentiveness and dedication we give our own — with every detail considered,
                from where you stay to how you’re driven.
                <br><br>
                We guide you through each phase with quiet confidence, trusted partners, and a deep respect for the path
                you’re on.
            </p>
            <img src="./images/support__image-general.webp" alt="">
        </div>

        <div class="flex column mb-auto">
            <div class="support__image"><img src="./images/support__image-2.webp" alt=""></div>
        </div>

    </div>
</section>