<section class="temp _section-padding">
    <div class="temp__container">
        <h2 class="_section-title">
            Наша команда в Иркутске <br>
            <span>работает с 1995 года</span>
        </h2>
        <p class="_section-text">
            Мы всегда готовы Вам помочь!
        </p>
        <ul>
            <li><img src="../../images/1.webp" alt=""><a href="#" target="_blank">Чупин Сергей Юрьевич</a></li>
            <li><img src="../../images/2.webp" alt=""><a href="#" target="_blank">Чупин Сергей Юрьевич</a></li>
            <li><img src="../../images/3.webp" alt=""><a href="#" target="_blank">Чупин Сергей Юрьевич</a></li>
            <li><img src="../../images/4.webp" alt=""><a href="#" target="_blank">Чупин Сергей Юрьевич</a></li>
            <li><img src="../../images/5.webp" alt=""><a href="#" target="_blank">Чупин Сергей Юрьевич</a></li>
            <li><img src="../../images/6.webp" alt=""><a href="#" target="_blank">Чупин Сергей Юрьевич</a></li>
            <li><img src="../../images/7.webp" alt=""><a href="#" target="_blank">Чупин Сергей Юрьевич</a></li>
            <li><img src="../../images/8.webp" alt=""><a href="#" target="_blank">Чупин Сергей Юрьевич</a></li>
            <li><img src="../../images/9.webp" alt=""><a href="#" target="_blank">Чупин Сергей Юрьевич</a></li>
            <li><img src="../../images/10.webp" alt=""><a href="#" target="_blank">Чупин Сергей Юрьевич</a></li>
        </ul>
    </div>
</section>