<section class="trust _section-padding">
    <div class="trust__container">
        <h2 class="_section-title">
            Почему клиенты<br>доверяют нам?<br><span>7 причин</span>
        </h2>
        
        <div class="trust__grid">
            <div class="trust__card">
                <div class="trust__card-number">01</div>
                <h3 class="trust__card-title">Не боимся<br>коллекторов</h3>
                <p class="trust__card-text">Отзовем ваши данные<br>из всех банков.</p>
            </div>
            
            <div class="trust__card">
                <div class="trust__card-number">02</div>
                <h3 class="trust__card-title">Сохраним<br>имущество</h3>
                <p class="trust__card-text">Квартиру, машину,<br>деньги на счетах.</p>
            </div>
            
            <div class="trust__card">
                <div class="trust__card-number">03</div>
                <h3 class="trust__card-title">Работаем<br>быстро</h3>
                <p class="trust__card-text">От 3 месяцев<br>через МФЦ.</p>
            </div>
            
            <div class="trust__card">
                <div class="trust__card-number">04</div>
                <h3 class="trust__card-title">Прозрачные<br>условия</h3>
                <p class="trust__card-text">Конфиденциальность<br>и фикс. цена</p>
            </div>
            
            <div class="trust__card">
                <div class="trust__card-number">05</div>
                <h3 class="trust__card-title">Финансовый<br>управляющий</h3>
                <p class="trust__card-text">Банкротство проводит<br>наш опытный специалист</p>
            </div>
            
            <div class="trust__card">
                <div class="trust__card-number">06</div>
                <h3 class="trust__card-title">Выгодная<br>стоимость</h3>
                <p class="trust__card-text">Скидка пенсионерам<br>и многодетным.</p>
            </div>
            
            <div class="trust__card">
                <div class="trust__card-number">07</div>
                <h3 class="trust__card-title">Гарантия<br>работы</h3>
                <p class="trust__card-text">95% наших дел - успешные.<br>Возврат денег при неудаче.</p>
            </div>
        </div>
        
        <div class="trust__footer">
            <span>Возможна ли рассрочка?</span>
            <a href="#" class="trust__link">узнать ↘</a>
        </div>
    </div>
</section>