<section class="trust _section-padding">
    <div class="trust__container">
        <h2 class="_section-title">
            Почему клиенты<br>доверяют нам?
        </h2>

        <div class="_cards">
            <div class="_cards-top">
                <div class="_card">
                    <div class="_card-head df df-jb">
                        <h3>Не боимся коллекторов</h3>
                        <span>01</span>
                    </div>
                    <p>Отзовем ваши данные <br> из всех банков.</p>
                </div>

                <div class="_card">
                    <div class="_card-head df df-jb">
                        <h3>Сохраним имущество</h3>
                        <span>02</span>
                    </div>
                    <p>работаем даже в сложных случаях, при больших просрочках и арестах.</p>
                </div>

                <div class="_card">
                    <div class="_card-head df df-jb">
                        <h3>Работаем <br> быстро</h3>
                        <span>03</span>
                    </div>
                    <p>От 6 месяцев <br> через МФЦ.</p>
                </div>

                <div class="_card">
                    <div class="_card-head df df-jb">
                        <h3>Прозрачные условия</h3>
                        <span>04</span>
                    </div>
                    <p>конфиденциальность  <br>  и фиксированная цена без скрытых платежей.</p>
                </div>
            </div>

            <div class="_cards-bottom">
                <div class="_card">
                    <div class="_card-head df df-jb">
                        <h3>Финансовый<br>управляющий</h3>
                        <span>05</span>
                    </div>
                    <p>сотрудничаем с опытными фин. Управляющими</p>
                </div>

                <div class="_card">
                    <div class="_card-head df df-jb">
                        <h3>Выгодная<br>стоимость</h3>
                        <span>06</span>
                    </div>
                    <p>фиксированная цена без скрытых платежей и возможность рассрочки.</p>
                </div>

                <div class="_card">
                    <div class="_card-head df df-jb">
                        <h3>Гарантия<br>работы</h3>
                        <span>07</span>
                    </div>
                    <p>100% наших дел - успешные.<br>Возврат денег при неудаче.</p>
                </div>
            </div>
        </div>

        <div class="trust__footer">
            <span>Возможна ли рассрочка?</span>
            <a href="#">узнать ↘</a>
        </div>
    </div>
</section>