<section class="trust _section-padding">
    <div class="trust__container">
        <h2 class="_section-title">
            Почему клиенты<br>доверяют нам?<br><span>7 причин</span>
        </h2>

        <div class="_cards">
            <div class="_cards-top">
                <div class="_card">
                    <div class="_card-head df df-jb">
                        <h3>Не боимся коллекторов</h3>
                        <span>01</span>
                    </div>
                    <p>Отзовем ваши данные <br> из всех банков.</p>
                </div>

                <div class="_card">
                    <div class="_card-head df df-jb">
                        <h3>Сохраним имущество</h3>
                        <span>02</span>
                    </div>
                    <p>Квартиру, машину, <br> деньги на счетах.</p>
                </div>

                <div class="_card">
                    <div class="_card-head df df-jb">
                        <h3>Работаем <br> быстро</h3>
                        <span>03</span>
                    </div>
                    <p>От 3 месяцев <br> через МФЦ.</p>
                </div>

                <div class="_card">
                    <div class="_card-head df df-jb">
                        <h3>Прозрачные условия</h3>
                        <span>04</span>
                    </div>
                    <p>Конфиденциальность <br> и фикс. цена</p>
                </div>
            </div>

            <div class="_cards-bottom">
                <div class="_card">
                    <div class="_card-head df df-jb">
                        <h3>Финансовый<br>управляющий</h3>
                        <span>05</span>
                    </div>
                    <p>Банкротство проводит<br>наш опытный специалист</p>
                </div>

                <div class="_card">
                    <div class="_card-head df df-jb">
                        <h3>Выгодная<br>стоимость</h3>
                        <span>06</span>
                    </div>
                    <p>Скидка пенсионерам<br>и многодетным.</p>
                </div>

                <div class="_card">
                    <div class="_card-head df df-jb">
                        <h3>Гарантия<br>работы</h3>
                        <span>07</span>
                    </div>
                    <p>95% наших дел - успешные.<br>Возврат денег при неудаче.</p>
                </div>
            </div>
        </div>

        <div class="trust__footer">
            <span>Возможна ли рассрочка?</span>
            <a href="#">узнать ↘</a>
        </div>
    </div>
</section>