<section class="writeoff _section-padding">
    <div class="writeoff__container df df-fc df-ai">
        <div class="writeoff__head df df-fc df-ai">
            <h1 class="_section-title">
                Спишите <span>кредиты и долги</span>
            </h1>
            <h2 class="_section-text">
                Спишем кредиты, сохраним имущество, <br> избавим от коллекторов.
            </h2>
            <h3 class="_section-text">
                Запишитесь на <span>бесплатный</span> <br>
                подбор варианта.
            </h3>
        </div>
        <!--=include components/form.html -->
    </div>
</section>