.callback {
    height: 622px;

    &__container {
        height: 100%;
    }

    &__left {
        height: 100%;
    }

    &__agreement {
        font-family: $font-family;
        font-weight: 500;
        font-size: 18px;
        line-height: 112%;
        letter-spacing: -0.01em;
        color: rgba(0, 0, 0, 0.63);
        display: flex;
        align-items: center;
        margin-bottom: 23px;

        input {
            background: #d9d9d9;
            border-radius: 4px;
            width: 21px;
            height: 21px;
        }

        label {
            position: relative;
            margin-left: 12px;

            a {
                text-decoration: underline;
                color: #3d7bff;
            }
        }

        span {
            position: absolute;
            top: -4px;
            right: -9px;
            color: #e60a0a;
        }
    }

    &__recaptcha {
        font-family: $font-family;
        font-weight: 500;
        font-size: 18px;
        line-height: 112%;
        letter-spacing: -0.01em;
        color: rgba(0, 0, 0, 0.63);
        width: 221px;
        height: 55px;

        &-label {
            margin-bottom: 12px;
        }
    }

}