.compare {

    ._section-title {
        text-align: center;
        margin-bottom: 60px;
    }

    &__table {
        max-width: 1024px;
        margin: 0 auto;
    }

    &__row {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 20px;
        margin-bottom: 20px;
        font-family: $font-family;
        font-weight: $font-weight-medium;
        font-size: 24px;
        line-height: 100%;
        letter-spacing: -0.01em;

        &--header {
            margin-bottom: 30px;

            .compare__cell {
                border: 1px solid #000;
                border-radius: 8px;
                background: $color-white;
                font-weight: $font-weight-medium;

                &--criteria {
                    color: rgba(0, 0, 0, 0.5);
                }

                &--court,
                &--mfc {
                    color: #3d7bff;
                }
            }
        }

        &:last-child {
            margin-bottom: 0;
        }
    }

    &__cell {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 25px 20px;
        border: 1px solid #000;
        border-radius: 8px;
        text-align: center;

        span {
            font-family: $font-family;
            font-size: 18px;
            line-height: 126%;
            letter-spacing: -0.01em;
        }

        &--criteria {
            color: #3d7bff;
        }

        &--court,
        &--mfc {
            border: none;
            background: #eee;
            color: #212121;
        }
    }
}