.discharge {
    ._section-title {
        text-align: center;
        margin: 0 auto;
    }

    ._section-subtitle {
        text-align: center;
        margin-top: 29px;
        margin-bottom: 71px;
    }

    &__timeline {
        background: #efefef;
        position: relative;
        border-radius: 8px;
        padding: 42px 46px;
    }

    &__step {
        font-family: $font-family;
        font-weight: $font-weight-medium;
        font-size: 24px;
        line-height: 100%;
        letter-spacing: -0.01em;
        color: #2d2d2d;

        &-divider {
            color: #000;
        }
    }
    &__step.active {
        color: #3d7bff;
    }

    &__arround {
        position: absolute;
        top: -19px;
        left: 103px;
    }
}