.eligibility {
    &__list {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 20px;
        margin-top: 58px;
    }

    &__head {
        background: #f6fff2;
        padding: 19px;
        display: flex;
        justify-content: space-between;
        align-items: start;
        min-height: 78px;
        margin-bottom: 15px;
    }

    p {
        opacity: 0.4;
    }
}