.hero {
    padding-bottom: 19px;
    height: 800px;

    &__container {
        position: relative;
        height: 100%;
    }

    &__left {
        max-width: 590px;
        height: 100%;

        h1 {
            margin-top: auto;
            font-family: $font-family;
            font-weight: $font-weight-regular;
            font-size: 38px;
            line-height: 100%;
            letter-spacing: -0.01em;
            color: #2d2d2d;
            margin-bottom: 29px;

            span {
                color: #3d7bff;
            }
        }

        h2 {
            font-family: $font-family;
            font-weight: $font-weight-medium;
            font-size: 18px;
            line-height: 112%;
            letter-spacing: -0.01em;
            color: rgba(0, 0, 0, 0.63);
        }

        &-footer {
            button {
                margin-top: 100px;
            }

            .top,
            .bottom {
                gap: 20px;
            }

            .top .box {
                flex: 1;
            }

            .bottom .box {
                flex: 1;
                min-height: 75px;
            }

            .box {
                background: rgba(29, 29, 29, 0.07);
                border-radius: 8px;
                padding: 15px 15px 15px 23px;
                min-height: 170px;

                h3 {
                    @include title-card;
                    font-size: 17px;
                }
            }

        }

        &-wrap {
            margin-top: 20px;
            gap: 20px;
        }
    }

    &__right {
        position: absolute;
        top: 0;
        right: 0;
        width: 630px;
        background-image: url('../../images/footer-bg.webp');
        height: 800px;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        z-index: -1;
    }
}