.knowledge {
    background: #eee;

    ._section-title,
    ._section-subtitle {
        text-align: center;
    }

    ._section-title {
        margin-bottom: 20px;
    }

    .swiper {
        margin-top: 40px;
        width: 100%;

        .swiper-slide {
            position: relative;

            .knowledge__image {
                position: relative;
                border-radius: 8px;
                width: 250px;
                height: 191px;
                overflow: hidden;

                &::before {
                    content: '';
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    background: #212121;
                }

                margin-bottom: 27px;
            }

            p {
                font-weight: 500;
                font-size: 18px;
                line-height: 112%;
                letter-spacing: -0.01em;
                color: rgba(0, 0, 0, 0.63);
            }

            a {
                position: absolute;
                bottom: 0;
                left: 0;
                width: 100%;
                height: 100%;
            }
        }
    }

    .swiper-scrollbar.swiper-scrollbar-horizontal {
        position: static !important;
        margin-top: 32px;

        background: #d2d2d2;
        border: 1px solid #000;
        border-radius: 170px;
        height: 21px;
        display: flex;
        padding: 4px;
        width: 100%;
        align-items: center;
    }

    .swiper-scrollbar-drag {
        background: #3e7cff;
        border-radius: 170px;
        height: 13px;
    }
}