.mfc {
    ._section-title {
        margin-bottom: 29px;
    }
    button {
        margin-top: 79px;
        margin-bottom: 31px;
        min-width: 383px;
        max-width: 383px;
    }

    &__descr {
        font-size: 18px;
        line-height: 115%;
        color: #2d2d2d;
        opacity: 0.5;
    }

    &__icons {
        margin-top: 67px;
        gap: 110px;
        li {
            
        }
    }
}