.outofcourt-discharge {
    background: #efefef;
    .discharge__timeline {
        background-color: #fff;
    }
}

.outofcourt-faq {
    background-color: #fff;
    .faq__item {
        background: #eee;
    }
}
.outofcourt-calculator {
    background-color: #fff;
    .calculator__input-wrapper {
        background-color: #eee;
    }
}