.profile {
    ._section-title {
        margin-bottom: 85px;
        text-align: center;
    }

    &__info {
        &-item {
            max-width: 388px;
        }

        margin-bottom: 90px;
    }

    ._section-text {
        font-weight: 500;
        font-size: 24px;
        line-height: 100%;
        letter-spacing: -0.01em;
        text-align: left;
    }

    ul._section-text {
        font-size: 18px;
        color: rgba(0, 0, 0, 0.63);
        margin-top: 20px;
    }

    &__btn {
        width: 383px;
        margin: 0 auto;
    }
}