.trust {
    background: #eee;

    ._section-title {
        margin: 0 auto;
        text-align: center;
        margin-bottom: 70px;
    }

    ._cards {
        display: flex;
        flex-direction: column;
        margin-bottom: 48px;

        ._card {
            width: 330px;
            h3 {
                color: #3d7bff;
            }
        }

        &-top {
            display: flex;
            justify-content: center;
            gap: 20px;
        }

        &-bottom {
            display: flex;
            gap: 20px;
            justify-content: center;
        }
    }

    &__footer {
        text-align: center;
        font-family: $font-family;
        font-weight: $font-weight-medium;
        font-size: 18px;
        line-height: 115%;
        color: #2d2d2d;

        a {
            color: #2d2d2d;
            margin-left: 24px;
        }
    }
}