.types {
    background: #efefef;
    ._section-subtitle {
        margin-top: 28px;
    }
    &__list {
        margin-top: 58px;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 20px;
        li {
            background: #fff;
            border-radius: 8px;
            padding: 18px 19px;
        }
    }
}