<header class="header">
    <div class="header__container">
        <nav>
            <ul>
                <!-- blueprint -->
                <li><a href="/blueprint.html">Your Baby’s Blueprint</a></li>
                <!-- difference -->
                <li><a href="/difference.html">The Noomi Difference</a></li>
                <!-- experience -->
                <li><a href="/experience.html">The Experience</a></li>
            </ul>
        </nav>

        <a href="/" class="_logo">
            <img src="./images/footerLogo.webp" alt="">
        </a>

        <nav>
            <ul>
                <!-- about -->
                <li><a href="/about.html">About Us</a></li>
                <!-- testimonials -->
                <li><a href="/testimonials.html">In Their Words</a></li>
                <!-- contact -->
                <li><a href="/contact.html">Contact Us</a></li>
            </ul>
            <button class="_btn" data-modal="open" data-target="#myModal">Start Your Journey</button>
        </nav>

    </div>
</header>